---
http_interactions:
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user/privileges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="619c02cf9b69f968110a05f7f149fb8f",
        oauth_signature="qzKYG62npwuTEHBOK%2BkgkEY3Bm0%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461240990", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"a6e0c24c3bbc6b5a00497cb4d74e8c41"'
      X-Render-Time:
      - '0.0321719646454'
      X-Accepted-Oauth-Scopes:
      - account
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '90'
    body:
      encoding: UTF-8
      string: '{"teams": {}}'
  recorded_at: Thu, 21 Apr 2016 12:16:31 GMT
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="6395f2c532f74c281893be5b1593a754",
        oauth_signature="%2Fbv5iDxk4q2jo344X9ePRUoj68A%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461241016", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"89ec30133de7802e59e2b81a6ddd6392"'
      X-Render-Time:
      - '0.0415320396423'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '404'
    body:
      encoding: ASCII-8BIT
      string: '[{"scm": "git", "has_wiki": false, "last_updated": "2015-10-01T15:52:41.972",
        "no_forks": false, "created_on": "2015-09-28T22:29:25.120", "owner": "jimmykarily_testributor",
        "logo": "https://bitbucket.org/jimmykarily_testributor/testributor_gem/avatar/32/?ts=1443707561",
        "email_mailinglist": "", "is_mq": false, "size": 351551, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2015-09-28
        20:29:25+00:00", "website": "", "description": "", "has_issues": false, "is_fork":
        false, "slug": "testributor_gem", "is_private": true, "name": "testributor_gem",
        "language": "", "utc_last_updated": "2015-10-01 13:52:41+00:00", "no_public_forks":
        true, "creator": null, "resource_uri": "/1.0/repositories/jimmykarily_testributor/testributor_gem"},
        {"scm": "git", "has_wiki": false, "last_updated": "2016-04-19T14:33:41.063",
        "no_forks": false, "created_on": "2016-04-19T14:33:41.006", "owner": "spyros_brilis",
        "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461069221",
        "email_mailinglist": "", "is_mq": false, "size": 33348, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="f8ae276f433569ae50fde78b4b95e637",
        oauth_signature="QhsSp8qCeylw9oDoAM%2Fhbw%2F0MVU%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461241017", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"affd54494316f3e2f731fb8d3d514a46"'
      X-Render-Time:
      - '0.0243599414825'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '304'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2016-04-19T14:33:41.063", "no_forks": false, "created_on": "2016-04-19T14:33:41.006",
        "owner": "spyros_brilis", "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461069221",
        "email_mailinglist": "", "is_mq": false, "size": 33348, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-04-19
        12:33:41+00:00", "website": "", "description[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/privileges/jimmykarily_testributor/testributor_gem/?filter=admin
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="5c054b97b3f48a583a68fa2711a24f30",
        oauth_signature="5tRmp5AZbqtEUYaPUdyjG4tqnLw%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461241044", oauth_token="zX4dt9nfH5QVkKvnXH", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"89ca258c576801c7a6ff8d1f6d5176cb"'
      X-Render-Time:
      - '0.0869688987732'
      X-Accepted-Oauth-Scopes:
      - repository:admin
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '115'
    body:
      encoding: ASCII-8BIT
      string: '[{"repo": "jimmykarily_testributor/testributor_gem", "privilege": "admin",
        "user": {"username": "pakallis", "first_name": "", "last_name": "", "display_name":
        "pakallis", "is_team": false, "avatar": "https://bitbucket.org/account/pakallis/avatar/32/?ts=1443726789"},
        "repository": {"owner": {"username": "jimmykarily_testributor", "first_name":
        "Dimitris", "last_name": "Karakasilis", "display_name": "Dimitris Karakasilis",
        "is_team": false, "avatar": "https://bitbucket.org/account/jimmykarily_testributor/avatar/32/?ts=1461136480"},
        "name": "testributor_gem", "slug": "testributor_gem"}}, {"repo": "jimmykarily_testributor/testributor_gem",
        "privilege": "[...]
