---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repositories/40374264/branches
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4993'
      X-Ratelimit-Reset:
      - '1447846306'
      Last-Modified:
      - Mon, 07 Sep 2015 21:26:31 GMT
      Etag:
      - W/"ae02699566e183abb429ca9a0687e0b8"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"name":"PK-fix-flash-messages","commit":{"sha":"45969855de5166ba221a52f40a0900f170d625e0","url":"https://api.github.com/repos/ispyropoulos/katana/commits/45969855de5166ba221a52f40a0900f170d625e0"}},{"name":"PK-fix-signin-signup","commit":{"sha":"3a5de979f823fa8b067b116e19e7de810b562e13","url":"https://api.github.com/repos/ispyropoulos/katana/commits/3a5de979f823fa8b067b116e19e7de810b562e13"}},{"name":"PK-redesign","commit":{"sha":"c3c085493f04788b267370753a174b2898187f47","url":"https://api.github.com/repos/ispyropoulos/katana/commits/c3c085493f04788b267370753a174b2898187f47"}},{"name":"aw[...]
- request:
    method: get
    uri: https://api.github.com/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4992'
      X-Ratelimit-Reset:
      - '1447846306'
      Last-Modified:
      - Thu, 22 Oct 2015 18:39:17 GMT
      Etag:
      - W/"2a2a25bc4db832eba422ea5467aef3a1"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false,"name":"Ilias
        Spyropoulos","company":"incrediblue","blog":"www.incrediblue.com","location":"Volos,
        Greece","email":"ilias@incrediblue.com","hireable":true,"bio":null,"public_repos":2,"public_gists":0,"followers":5,"following":9,"created_at":"2010-08-06T07:18:54Z","updated_at":"2015-10-22T18:39:17Z"}'
  recorded_at: Wed, 18 Nov 2015 10:35:37 GMT
[...]
