---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/user/repos
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4966'
      X-Ratelimit-Reset:
      - '1460625720'
      Etag:
      - W/"e6448afe815841eb52b7477ffacf4838"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '[{"id":21267581,"name":"aroma-kouzinas","full_name":"ispyropoulos/aroma-kouzinas","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":false,"html_url":"https://github.com/ispyropoulos/aroma-kouzinas","description":"An
        app to order food.","fork":false,"url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas","forks_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/forks","keys_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/events","assignees_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/merges","archive_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/releases{/id}","deployments_url":"https://api.github.com/repos/ispyropoulos/aroma-kouzinas/deployments","created_at":"2014-06-27T07:28:00Z","updated_at":"2015-11-16T10:03:28Z","pushed_at":"2014-07-25T21:39:29Z","git_url":"git://github.com/ispyropoulos/aroma-kouzinas.git","ssh_url":"git@github.com:ispyropoulos/aroma-kouzinas.git","clone_url":"https://github.com/ispyropoulos/aroma-kouzinas.git","svn_url":"https://github.com/ispyropoulos/aroma-kouzinas","homepage":null,"size":272,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":0,"mirror_url":null,"open_issues_count":0,"forks":0,"open_issues":0,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true}},{"id":53849648,"name":"bitbucket","full_name":"ispyropoulos/bitbucket","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyr[...]
- request:
    method: get
    uri: https://api.github.com/user/repos?per_page=20
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4965'
      X-Ratelimit-Reset:
      - '1460625720'
      Etag:
      - W/"63949574643500ee794357c237c74c14"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - ''
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
      Link:
      - <https://api.github.com/user/repos?per_page=20&page=2>; rel="next", <https://api.github.com/user/repos?per_page=20&page=2>;
        rel="last"
    body:
      encoding: ASCII-8BIT
      string: '[{"id":21267581,"name":"aroma-kouzinas","full_name":"ispyropoulos/aroma-kouzinas","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyro[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user/repositories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="0adb6772bbdaf895b3f18ef1483e6988",
        oauth_signature="nd1vlNvTVzyVVWGSPJQEGAB6kWE%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461071218", oauth_token="e7NwprYBjxc82V4MeT", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"89ec30133de7802e59e2b81a6ddd6392"'
      X-Render-Time:
      - '0.0366950035095'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '320'
    body:
      encoding: ASCII-8BIT
      string: '[{"scm": "git", "has_wiki": false, "last_updated": "2015-10-01T15:52:41.972",
        "no_forks": false, "created_on": "2015-09-28T22:29:25.120", "owner": "jimmykarily_testributor",
        "logo": "https://bitbucket.org/jimmykarily_testributor/testributor_gem/avatar/32/?ts=1443707561",
        "email_mailinglist": "", "is_mq": false, "size": 351551, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2015-09-28
        20:29:25+00:00", "website": "", "description": "", "has_issues": false, "is_fork":
        false, "slug": "testributor_gem", "is_private": true, "name": "testributor_gem",
        "language": "", "utc_last_updated": "2015-10-01 13:52:41+00:00", "no_public_forks":
        true, "creator": null, "resource_uri": "/1.0/repositories/jimmykarily_testributor/testributor_gem"},
        {"scm": "git", "has_wiki": false, "last_updated": "2016-04-19T14:33:41.063",
        "no_forks": false, "created_on": "2016-04-19T14:33:41.006", "owner": "spyros_brilis",
        "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461069221",
        "email_mailinglist": "", "is_mq": false, "size": 33348, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_[...]
- request:
    method: get
    uri: https://bitbucket.org/api/1.0/user
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - OAuth oauth_consumer_key="7CjsrYVQ9SCdTVSU3v", oauth_nonce="4334bae13e34c14864d5f5363221f895",
        oauth_signature="2gE5gJ0nVVsgJP9j%2BplUGijU02k%3D", oauth_signature_method="HMAC-SHA1",
        oauth_timestamp="1461072693", oauth_token="e7NwprYBjxc82V4MeT", oauth_version="1.0"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Oauth-Scopes:
      - webhook, repository:admin, repository, account
      X-Static-Version:
      - f42899d589f9
      Etag:
      - '"00d862f318c5de6473c41c36a0e8396d"'
      X-Render-Time:
      - '0.0360980033875'
      X-Accepted-Oauth-Scopes:
      - repository
      X-Version:
      - f42899d589f9
      X-Request-Count:
      - '4'
    body:
      encoding: ASCII-8BIT
      string: '{"repositories": [{"scm": "git", "has_wiki": false, "last_updated":
        "2016-04-19T14:33:41.063", "no_forks": false, "created_on": "2016-04-19T14:33:41.006",
        "owner": "spyros_brilis", "logo": "https://bitbucket.org/spyros_brilis/testing_repository/avatar/32/?ts=1461069221",
        "email_mailinglist": "", "is_mq": false, "size": 33348, "read_only": false,
        "fork_of": null, "mq_of": null, "state": "available", "utc_created_on": "2016-04-19
        12:33:41+00:00", "website": "", "description[...]
[...]
