---
http_interactions:
- request:
    method: get
    uri: https://api.github.com/repositories/40374264
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
      Authorization:
      - token 878321d52c0b0aa55b84cca76cf3f07bf3937b0f
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Limit:
      - '5000'
      X-Ratelimit-Remaining:
      - '4971'
      X-Ratelimit-Reset:
      - '1448497306'
      Last-Modified:
      - Mon, 07 Sep 2015 21:26:31 GMT
      Etag:
      - W/"a275814b5184bcc5ccae1bb89962266f"
      X-Oauth-Scopes:
      - repo, user:email
      X-Accepted-Oauth-Scopes:
      - repo
      X-Oauth-Client-Id:
      - b18d68d68471de920bdb
      X-Github-Media-Type:
      - github.v3; format=json
    body:
      encoding: ASCII-8BIT
      string: '{"id":40374264,"name":"katana","full_name":"ispyropoulos/katana","owner":{"login":"ispyropoulos","id":355984,"avatar_url":"https://avatars.githubusercontent.com/u/355984?v=3","gravatar_id":"","url":"https://api.github.com/users/ispyropoulos","html_url":"https://github.com/ispyropoulos","followers_url":"https://api.github.com/users/ispyropoulos/followers","following_url":"https://api.github.com/users/ispyropoulos/following{/other_user}","gists_url":"https://api.github.com/users/ispyropoulos/gists{/gist_id}","starred_url":"https://api.github.com/users/ispyropoulos/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/ispyropoulos/subscriptions","organizations_url":"https://api.github.com/users/ispyropoulos/orgs","repos_url":"https://api.github.com/users/ispyropoulos/repos","events_url":"https://api.github.com/users/ispyropoulos/events{/privacy}","received_events_url":"https://api.github.com/users/ispyropoulos/received_events","type":"User","site_admin":false},"private":true,"html_url":"https://github.com/ispyropoulos/katana","description":"Testributor
        is a web service from the future that can run your Ruby test suite at impossible
        speeds, so you and your team can get on with your dreams.","fork":false,"url":"https://api.github.com/repos/ispyropoulos/katana","forks_url":"https://api.github.com/repos/ispyropoulos/katana/forks","keys_url":"https://api.github.com/repos/ispyropoulos/katana/keys{/key_id}","collaborators_url":"https://api.github.com/repos/ispyropoulos/katana/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/ispyropoulos/katana/teams","hooks_url":"https://api.github.com/repos/ispyropoulos/katana/hooks","issue_events_url":"https://api.github.com/repos/ispyropoulos/katana/issues/events{/number}","events_url":"https://api.github.com/repos/ispyropoulos/katana/events","assignees_url":"https://api.github.com/repos/ispyropoulos/katana/assignees{/user}","branches_url":"https://api.github.com/repos/ispyropoulos/katana/branches{/branch}","tags_url":"https://api.github.com/repos/ispyropoulos/katana/tags","blobs_url":"https://api.github.com/repos/ispyropoulos/katana/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/ispyropoulos/katana/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/ispyropoulos/katana/git/refs{/sha}","trees_url":"https://api.github.com/repos/ispyropoulos/katana/git/trees{/sha}","statuses_url":"https://api.github.com/repos/ispyropoulos/katana/statuses/{sha}","languages_url":"https://api.github.com/repos/ispyropoulos/katana/languages","stargazers_url":"https://api.github.com/repos/ispyropoulos/katana/stargazers","contributors_url":"https://api.github.com/repos/ispyropoulos/katana/contributors","subscribers_url":"https://api.github.com/repos/ispyropoulos/katana/subscribers","subscription_url":"https://api.github.com/repos/ispyropoulos/katana/subscription","commits_url":"https://api.github.com/repos/ispyropoulos/katana/commits{/sha}","git_commits_url":"https://api.github.com/repos/ispyropoulos/katana/git/commits{/sha}","comments_url":"https://api.github.com/repos/ispyropoulos/katana/comments{/number}","issue_comment_url":"https://api.github.com/repos/ispyropoulos/katana/issues/comments{/number}","contents_url":"https://api.github.com/repos/ispyropoulos/katana/contents/{+path}","compare_url":"https://api.github.com/repos/ispyropoulos/katana/compare/{base}...{head}","merges_url":"https://api.github.com/repos/ispyropoulos/katana/merges","archive_url":"https://api.github.com/repos/ispyropoulos/katana/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/ispyropoulos/katana/downloads","issues_url":"https://api.github.com/repos/ispyropoulos/katana/issues{/number}","pulls_url":"https://api.github.com/repos/ispyropoulos/katana/pulls{/number}","milestones_url":"https://api.github.com/repos/ispyropoulos/katana/milestones{/number}","notifications_url":"https://api.github.com/repos/ispyropoulos/katana/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/ispyropoulos/katana/labels{/name}","releases_url":"https://api.github.com/repos/ispyropoulos/katana/releases{/id}","created_at":"2015-08-07T18:13:02Z","updated_at":"2015-09-07T21:26:31Z","pushed_at":"2015-11-25T23:43:41Z","git_url":"git://github.com/ispyropoulos/katana.git","ssh_url":"git@github.com:ispyropoulos/katana.git","clone_url":"https://github.com/ispyropoulos/katana.git","svn_url":"https://github.com/ispyropoulos/katana","homepage":"http://www.testributor.com","size":1737,"stargazers_count":0,"watchers_count":0,"language":"Ruby","has_issues":true,"has_downloads":true,"has_wiki":true,"has_pages":false,"forks_count":3,"mirror_url":null,"open_issues_count":2,"forks":3,"open_issues":2,"watchers":0,"default_branch":"master","permissions":{"admin":true,"push":true,"pull":true},"network_count":3,"subscribers_count":4}'
  recorded_at: Wed, 25 Nov 2015 23:57:06 GMT
recorded_with: VCR 2.9.3
